<!-- <!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link(rel="stylesheet", href="https://unpkg.com/mvp.css")>
</head>

<body>
    <script type="text/javascript">
        console.log('start');
        //window.localStorage.setItem('jin', 'hi');
        async function getMatchResult(username, RoomName) {
            let user = username;
            let roomId = RoomName;
            await window.localStorage.setItem('user', user);
            await window.localStorage.setItem('roomId', roomId);
            console.log(`user : ${user}, roomname : ${roomId}`);
            alert(`${user}, ${roomId}`);
        };
    </script>
    <header>
        <h1>Co-delivery</h1>
    </header>
    <main>
        <div id="start">
            <form id="roomname"><button>Start</button></form>
        </div>
        <div id="chat">
            <ul></ul>
            <form id="msg"><input placeholder="메세지를 입력하세요" required type="text"><button>전송</button></form>
        </div>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/app.js"></script>
</body>

</html> -->